body {
    background-color: rgb(93, 190, 97);
    margin-top: 55px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  
  
  h1 {
    color:rgb(109, 55, 55);
    text-align: center;
    font: bolder;
    font-style: italic;

  }


  nav a {
      font-size: 18px;
      color: white;
      font-style: unset;


  }
  .classh1 {
      color: chocolate;
      font-size: 25px;
  }

  .classh1:hover{
    color: coral;
    font-size: 40x;
    animation-name: h1;
    position: relative;
    animation-duration: 2s;
  }
  
 .classh2 {
     color: darkblue;
     font-size: 20px;
 }

 .classnava {
     color:white;
     font-size: 22px;
 }


 .classnava :hover{
    color:yellow;
    font-size: 25px;
 }

    @keyframes h1 { 
    from {font-size: 40px;} 
    to {font-size: 55px;} 
    
 }